@using FinalExam.Models;
@model List<Job>
@{
	ViewData["Title"] = "Index";
	int count = 0;
}
<h1>Create Job</h1>
<button><a asp-action="Create" asp-controller="Job">Create</a></button>
<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Job Name</th>
			<th>Update</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var jobs in Model)
		{
			count++;
			<tr>
				<th scope="row">@count</th>
				<td>@jobs.Name</td>
				<td>
					<button><a asp-route-Id="@jobs.Id" asp-action="Update" asp-controller="Job">Update</a></button>
				</td>
				<td>
					<button><a asp-route-Id="@jobs.Id" asp-action="Delete" asp-controller="Job">Delete</a></button>
				</td>
			</tr>
		}
	</tbody>
</table>